@{
    ViewData["Title"] = "Index";
}
@{
    Layout = "_Template";
}

  <link rel="stylesheet" href="/css/survey.css"/>
  <link rel="stylesheet" href="/css/search-dropdown.css"/>
<h2>Promo Code Directory</h2>
<hr>
<a href="/Promo/AddPromoCode">Add a Promo Code</a>
<hr>
<a href="/Promo/ViewUsers">View Promo Code Users</a>
<hr>
<a href="/Promo/ViewCodes">VIew Promo Codes</a>
<hr>