@{
    ViewData["Title"] = "PromoCodeAdded";
}
@{
    Layout = "_Template";
}
    <link rel="stylesheet" href="/css/survey.css"/>
    <link rel="stylesheet" href="/css/search-dropdown.css"/>

<h2>Successfully Added!</h2>

<div>
    <a href="/promo">Back to Promo Code Directory</a>
</div>