@{
    ViewData["Title"] = "PromoCodeFailure";
}
@{
    Layout = "_Template";
}
    <link rel="stylesheet" href="/css/survey.css"/>
    <link rel="stylesheet" href="/css/search-dropdown.css"/>

<h3>End Date must be after Start Date</h3>
<hr>
<div>
    <h4><a href="/promo/addpromocode">Reenter Code</a></h4>
</div>