@{
    ViewData["Title"] = "Thank You";
}
@{
    Layout = "_Template";
}
    <link rel="stylesheet" href="/css/survey.css"/>
    <link rel="stylesheet" href="/css/search-dropdown.css"/>

<h2>Success - Promo Code Entered!</h2>
<hr>
<h2>Thank you for helping future Renters</h2> 
<p><a asp-controller="Survey" asp-action="Feedback">Feedback or Recommendations</a></p>

<div>
    <a href="/Home/Index">Back to Homepage</a>
</div>